@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    font-family: 'Space Mono', monospace;
    font-size: $regularS;
    background-color: $lightGrayishCyan;
}

.logo{
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('/images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 55px;
    width: 120px;
    background-position: center center;
}

