@mixin input-styles{
    text-align: right;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 0 16px;
    font-family: 'Space Mono', monospace;
    font-weight: $boldW;

    &:focus{
        outline: solid 2px $strongCyan;
    }
}